Skip to content Search or jump to… Pull requests Issues Marketplace Explore @hiteshtare Sign out 1 0 0 hiteshtare/node-todo Code Issues 0 Pull requests 0 Projects 0 Wiki Insights Settings node-todo/angular-src/src/app/modules/todo/list-todo/list-todo.component.css 910237c on 11 Sep @hiteshtare hiteshtare Major changes : Code moved from public to angular-src,
'api'text rem… We found potential security vulnerabilities in your dependencies. Only the owner of this repository can see this message. Manage your notification settings or learn more about vulnerability alerts. Executable File 87 lines (68 sloc) 1.09 KB .example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.docs-primary-header h1 {
  font-size: 30px;
  font-weight: 300;
  margin: 0;
  padding: 28px 8px;
  font-size: 20px;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container>* {
  width: 100%;
}

.example-container form {
  margin-bottom: 20px;
}

.example-container form>* {
  margin: 5px 0;
}

.example-container .mat-radio-button {
  margin: 0 5px;
}

.mat-form-field {
  width: 85%;
}

mat-grid-tile {
  /* background: lightblue; */
}

.form-buttons {
  text-align: center;
}

.mat-card {
  background: rgba(0, 0, 0, .02);
}

.mat-toolbar {
  background: rgba(0, 0, 0, .04);
}

/* Structure */

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-grid-tile .mat-figure {
  display: block !important;
}

.mat-card-image {
  margin: 5px 0px 0px 5px !important;
}
