<p-table [value]="notes">
  <ng-template pTemplate="caption">
    List of Notes
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Id</th>
      <th>Machine Transcript</th>
      <th>Transcript - Rep Edits</th>
      <th>Approval - Transcript </th>
      <th>Entities - Rep Edits</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-note>
    <tr>
      <td>{{note._id}}</td>
      <td>{{note.machine_transcript}}</td>
      <td>{{note.transcripts | json}}</td>
      <td>{{note.is_transcript_approve}}</td>
      <td>{{note.entities | json}}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    There are {{notes?.length}} Notes
  </ng-template>
</p-table>
