<div class="content-section introduction">
  <div>
    <span class="feature-title">Data Approver : Alex</span>
  </div>
  <button pButton type="button" label="Navigate to Assistant Screen" class="ui-button-warning" (click)="navigateToAssitantView()"
    [disabled]="noteApiService.showLoader"></button>
  <button pButton type="button" label="Train LUIS" class="ui-button-success" (click)="trainLUIS()" [disabled]="noteApiService.showLoader"></button>
  <button pButton type="button" label="Publish Changes" class="ui-button-danger" (click)="publishLUIS()" [disabled]="noteApiService.showLoader"></button>
</div>
<p-table [value]="notes">
  <ng-template pTemplate="caption">
    List of Notes
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width:14em">Id</th>
      <th>Machine Transcript</th>
      <!-- <th>Transcript - Rep Edits</th> -->
      <!-- <th>Approval - Transcript </th> -->
      <th>Entities - Rep Edits</th>
      <th style="width:8em">Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-note>
    <tr>
      <td>{{note._id}}</td>
      <td>{{note.machine_transcript}}</td>
      <!-- <td>{{note.transcripts | json}}</td> -->
      <!-- <td>{{note.is_transcript_approve}}</td> -->
      <td>
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
          <ng-container *ngIf="note['entities']['products']">
            <ng-container *ngFor="let product of note['entities']['products']; let i = index">
              <ng-container *ngIf="product">
                <div class="ui-grid-row">
                  <div class="ui-grid-col-3">
                    <h4>Product</h4>
                  </div>
                  <div class="ui-grid-col-3">
                    {{product.before}}
                  </div>
                  <div class="ui-grid-col-3">
                    {{product.after}}
                  </div>
                  <div class="ui-grid-col-3">
                    <ng-container *ngIf="product.before && product.after">
                      <span style="background-color: #00ffff42;">Updated</span>
                    </ng-container>
                    <ng-container *ngIf="product.before && product.after == null  && product.is_approve != null">
                      <span style="background-color: #ff64647a;">Removed</span>
                    </ng-container>
                    <ng-container *ngIf="product.before == null && product.after">
                      <span style="background-color: springgreen;">Added</span>
                    </ng-container>
                  </div>
                  <div class="ui-grid-col-3">
                    <i>{{product.status}}</i>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="note['entities']['keymessages']">
            <ng-container *ngFor="let keymessage of note['entities']['keymessages']">
              <ng-container *ngIf="keymessage">
                <div class="ui-grid-row">
                  <div class="ui-grid-col-3">
                    <h4>Key Message</h4>
                  </div>
                  <div class="ui-grid-col-3">
                    {{keymessage.before}}
                  </div>
                  <div class="ui-grid-col-3">
                    {{keymessage.after}}
                  </div>
                  <div class="ui-grid-col-3">
                    <ng-container *ngIf="keymessage.before && keymessage.after">
                      <span style="background-color: #00ffff42;">Updated</span>
                    </ng-container>
                    <ng-container *ngIf="keymessage.before && keymessage.after == null && keymessage.is_approve != null">
                      <span style="background-color: #ff64647a;">Removed</span>
                    </ng-container>
                    <ng-container *ngIf="keymessage.before == null && keymessage.after">
                      <span style="background-color: springgreen;">Added</span>
                    </ng-container>
                  </div>
                  <div class="ui-grid-col-3">
                    <i>{{keymessage.status}}</i>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="note['entities']['followups']">
            <ng-container *ngFor="let followup of note['entities']['followups']">
              <ng-container *ngIf="followup.after">
                <div class="ui-grid-row">
                  <div class="ui-grid-col-3">
                    <h4>Follow Up</h4>
                  </div>
                  <div class="ui-grid-col-3">
                    {{followup.before}}
                  </div>
                  <div class="ui-grid-col-3">
                    {{followup.after}}
                  </div>
                  <div class="ui-grid-col-3">
                    <i>{{followup.status}}</i>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </td>
      <td>
        <button type="button" (click)="showDialog(note)" pButton icon="pi pi-info-circle" label="Review"></button></td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    There are {{notes?.length}} Notes
  </ng-template>
</p-table>

<p-dialog header="Approval Dialog" [(visible)]="display" [modal]="true" [responsive]="true" [width]="500" [minWidth]="350"
  [minY]="70" [maximizable]="true" [baseZIndex]="10000" closeOnEscape="true">
  <ng-container *ngIf="tempnote">
    <ng-container *ngIf="tempnote['entities']['products']">
      <p-panel header="Products">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
          <div class="ui-grid-row">
            <div class="ui-grid-col-4">
              <h3>Before</h3>
            </div>
            <div class="ui-grid-col-4">
              <h3>After</h3>
            </div>
            <div class="ui-grid-col-4">
              <h3>Status</h3>
            </div>
            <div class="ui-grid-col-4">
              <h3>Approve</h3>
            </div>
          </div>
          <ng-container *ngFor="let product of tempnote['entities']['products']; let i = index">
            <ng-container *ngIf="product">
              <div class="ui-grid-row">
                <div class="ui-grid-col-4">
                  {{product.before}}
                </div>
                <div class="ui-grid-col-4">
                  {{product.after}}
                </div>
                <div class="ui-grid-col-3">
                  <ng-container *ngIf="product.before && product.after">
                    <span style="background-color: #00ffff42;">Updated</span>
                  </ng-container>
                  <ng-container *ngIf="product.before && product.after == null && product.is_approve != null">
                    <span style="background-color: #ff64647a;">Removed</span>
                  </ng-container>
                  <ng-container *ngIf="product.before == null && product.after">
                    <span style="background-color: springgreen;">Added</span>
                  </ng-container>
                </div>
                <ng-container *ngIf="product.status == 'pending for moderator approval'">
                  <div class="ui-grid-col-4">
                    <p-inputSwitch [(ngModel)]="tempnote['entities']['products'][i].is_approve"></p-inputSwitch>
                  </div>
                </ng-container>
                <div class="ui-grid-col-4">
                  &nbsp;
                </div>
              </div>
            </ng-container>
            <!-- <ng-container *ngIf="!product.after">
              <div class="ui-grid-row">
                <div class="ui-grid-col-4">
                  {{product.before}}
                </div>
                <div class="ui-grid-col-4">
                  {{product.after}}
                </div>
                <div class="ui-grid-col-4">
                  &nbsp;
                </div>
              </div>
            </ng-container> -->
          </ng-container>
        </div>
      </p-panel>
    </ng-container>
    <ng-container *ngIf="tempnote['entities']['keymessages']">
      <p-panel header="Key Messages">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
          <div class="ui-grid-row">
            <div class="ui-grid-col-4">
              <h3>Before</h3>
            </div>
            <div class="ui-grid-col-4">
              <h3>After</h3>
            </div>
            <div class="ui-grid-col-4">
              <h3>Status</h3>
            </div>
            <div class="ui-grid-col-4">
              <h3>Approve</h3>
            </div>
          </div>
          <ng-container *ngFor="let keymessage of tempnote['entities']['keymessages']; let i = index">
            <ng-container *ngIf="keymessage">
              <div class="ui-grid-row">
                <div class="ui-grid-col-4">
                  {{keymessage.before}}
                </div>
                <div class="ui-grid-col-4">
                  {{keymessage.after}}
                </div>
                <div class="ui-grid-col-3">
                  <ng-container *ngIf="keymessage.before && keymessage.after">
                    <span style="background-color: #00ffff42;">Updated</span>
                  </ng-container>
                  <ng-container *ngIf="keymessage.before && keymessage.after == null && keymessage.is_approve != null">
                    <span style="background-color: #ff64647a;">Removed</span>
                  </ng-container>
                  <ng-container *ngIf="keymessage.before == null && keymessage.after">
                    <span style="background-color: springgreen;">Added</span>
                  </ng-container>
                </div>
                <ng-container *ngIf="keymessage.status == 'pending for moderator approval'">
                  <div class="ui-grid-col-4">
                    <p-inputSwitch [(ngModel)]="tempnote['entities']['keymessages'][i].is_approve"></p-inputSwitch>
                  </div>
                </ng-container>
                <div class="ui-grid-col-4">
                  &nbsp;
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </p-panel>
    </ng-container>
    <ng-container *ngIf="tempnote['entities']['followups']">
      <p-panel header="Follow Ups">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
          <div class="ui-grid-row">
            <div class="ui-grid-col-4">
              <h3>Before</h3>
            </div>
            <div class="ui-grid-col-4">
              <h3>After</h3>
            </div>
            <div class="ui-grid-col-4">
              <h3>Approve</h3>
            </div>
          </div>
          <ng-container *ngFor="let followup of tempnote['entities']['followups']; let i = index">
            <ng-container *ngIf="
          followup.after">
              <div class="ui-grid-row">
                <div class="ui-grid-col-4">
                  {{followup.before}}
                </div>
                <div class="ui-grid-col-4">
                  {{followup.after}}
                </div>
                <div class="ui-grid-col-4">
                  <p-inputSwitch [(ngModel)]="tempnote['entities']['followups'][i].is_approve"></p-inputSwitch>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="!followup.after">
              <div class="ui-grid-row">
                <div class="ui-grid-col-4">
                  {{followup.before}}
                </div>
                <div class="ui-grid-col-4">
                  {{followup.after}}
                </div>
                <div class="ui-grid-col-4">
                  &nbsp;
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </p-panel>
    </ng-container>
  </ng-container>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="saveNote()" label="Yes"></button>
    <button type="button" pButton icon="pi pi-close" (click)="display=false" label="No" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
